.card img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.intro {
  margin: 40px;
  width: 75%;
}
/* .wrapper {
  container: wrap/inline-size;
} */
/* .card-wrap {
  @container wrap (width<340px) {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    .card {
      padding: 10px;
      background-color: var(--secondary-color-2);
    }
  }
} */
@media (width<340px) {
  .card-wrap {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 10px;
  }
  .card {
    padding: 20px;
    background-color: var(--secondary-color-2);
  }
}

/* @media (width<690px) {
  .card-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    margin: 40px;
  }
  .card {
    padding: 10px;
    background-color: var(--secondary-color-2);
  }
} */

@media (width>340px) {
  .card-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    margin: 40px;
  }
  .card {
    padding: 10px;
    background-color: var(--secondary-color-2);
  }
  .card-wrap .card:first-child {
    grid-column: 1 / span 2;
    grid-row: 1;
  }
  .card-wrap .card:nth-child(3) {
    grid-row: span 2;
  }
  .card-wrap .card:nth-child(5) {
    grid-column: 2 / span 2;
  }
}
